body {
  margin: 0;
}

body.popup-active .main,
body.popup-active .footer,
body.popup-active .navbar {
  filter: blur(2px);
  opacity: .8;
}

.main {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  width: 100%;;
}

.navbar-image {
  display: flex;
  flex-direction: row;
}

.signin-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  padding: 0px 16px;
  height: 58px;
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mainbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.server {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 200px;
}

.server-name {
  width: 160px; 
  font-size: 1.2rem;
  text-wrap: wrap;
}

.grayscale {
  filter: grayscale(100%);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the popup is on top */
}

.popup-content {
  background: var(--popup-background, white);
  color: var(--popup-color, black);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 1001; /* Ensure the popup content is on top */
}

.popup-content button {
  margin-top: 10px;
  background: var(--button-background, #f46904);
  color: var(--button-color, white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background: var(--button-hover-background, #d35400);
}

.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 2rem;
}

.orange {
  color: #F46904;
}

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 32px;
  width: 100%;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.1rem;
  }
  .footer {
    font-size: .7rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 255, 255);
    background: rgb(12, 12, 12);
  }
  .popup-content {
    background: var(--popup-background-dark, #333);
    color: var(--popup-color-dark, white);
  }
  .popup-content button {
    background: var(--button-background-dark, #f46904);
    color: var(--button-color-dark, white);
  }
  .popup-content button:hover {
    background: var(--button-hover-background-dark, #d35400);
  }
  .footer {
    border-color: #222;
  }
}